{% extends 'movies/base.html' %}
{% load static %}
{% block title %}{{ movie.title }}{% endblock %}

{% block movie-content %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-5">
                <img src="{{ actor.image.url }}" class="img-fluid poster_img" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h2 class="editContent">
                    {{ actor.name }}</h2>
                {#                            <h5 class="editContent">Terminator: Dark Fate</h5>#}
                <ul>
                    <li>
                        <span><b>Дата Рождения</b> «{{ actor.birthday }}»</span>
                    </li>
                    <li>
                        <span><b>Bозраст</b> «{{ actor.age }}»</span>
                    </li>
                    <li>
                        <span><b>Режиссер:</b>
                            {% for movie in actor.film_director.all %}
                                {{ movie.title }},
                            {% endfor %}
                        </span></li>
                    <li>
                        <span><b>Актер:</b>
                            {% for movie in actor.film_actor.all %}
                                {{ movie.title }},
                            {% endfor %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                O {{ actor.name }}
            </h3>
            <p class="editContent" style="width: 100%;">
                {{ actor.description|safe }}
            </p>
        </div>
        <hr>
        {#        <div class="row commentBlockContainer">#}
        {#            <div class="single-form-left">#}
        {#                <div class="contact-single" style="border: 1px solid dimgray; padding: 10px; border-radius: 5px;"#}
        {#                     id="reviewFormContainer">#}
        {#                    <h3 class="editContent"><a href="login.html">Войдите</a> в мир кино :)</h3>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}
